<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.NLLDS.dao.ProjectDao" >
  <resultMap id="BaseResultMap" type="com.NLLDS.model.Project" >
    <id column="pid" property="pid" jdbcType="VARCHAR" />
    <result column="pname" property="pname" jdbcType="VARCHAR" />
    <result column="createby" property="createby" jdbcType="VARCHAR" />
    <result column="manageby" property="manageby" jdbcType="VARCHAR" />
    <result column="createdate" property="createdate" jdbcType="TIMESTAMP"/>
    <result column="description" property="description" jdbcType="VARCHAR" />
    <result column="questionnaire" property="questionnaire" jdbcType="VARCHAR" />
    <result column="qustable" property="qustable" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    pid, pname, createby, manageby, createdate, description, questionnaire
  </sql>
  
  <select id="selectAllProject" resultMap="BaseResultMap">
    SELECT pid,pname,createby,manageby,createdate,description
	FROM project
  </select>
  
  <select id="selectUserProject" resultMap="BaseResultMap" parameterType="java.lang.String">
    SELECT pid,pname,createby,manageby,createdate,description
	FROM project
	WHERE manageby LIKE CONCAT('%', #{username, jdbcType=VARCHAR}, '%')
  </select>
  
  <select id="selectProjectQus" resultMap="BaseResultMap">
    SELECT pid,pname,questionnaire
	FROM project
	WHERE questionnaire IS NOT NULL
  </select>
  
  <select id="selectUserProjectQus" resultMap="BaseResultMap" parameterType="java.lang.String">
    SELECT pid,pname,questionnaire
	FROM project
	WHERE manageby LIKE CONCAT('%', #{username, jdbcType=VARCHAR}, '%')
	AND questionnaire IS NOT NULL
  </select>
  
  <select id="selectProjectID" resultMap="BaseResultMap">
    SELECT pid
	FROM project
  </select>
  
  <select id="selectUserProjectID" resultMap="BaseResultMap" parameterType="java.lang.String">
    SELECT pid
	FROM project
	WHERE manageby LIKE CONCAT('%', #{username, jdbcType=VARCHAR}, '%')
  </select>
  
  <select id="selectQuestionnaire" resultMap="BaseResultMap" parameterType="java.lang.String">
    SELECT questionnaire
	FROM project
	WHERE pid = #{pid,jdbcType=VARCHAR}
	AND questionnaire IS NOT NULL
  </select>
  
  <select id="selectSubjectQus" resultMap="BaseResultMap" parameterType="java.lang.String">
    SELECT qustable
	FROM project
	WHERE pid = #{projectid,jdbcType=VARCHAR}
	AND qustable IS NOT NULL
  </select>
  
  <insert id="insertProject" parameterType="com.NLLDS.model.Project" >
    INSERT into project (pname, createby, 
      manageby,description)
    values (#{pname,jdbcType=VARCHAR}, #{createby,jdbcType=VARCHAR}, #{manageby,jdbcType=VARCHAR}, 
      #{description,jdbcType=VARCHAR})
  </insert>
  
  <update id="updateProject" parameterType="com.NLLDS.model.Project" >
    UPDATE project
    set questionnaire = #{questionnaire,jdbcType=VARCHAR}
    WHERE pid = #{pid,jdbcType=VARCHAR}
  </update>
  
  <select id="checkProject" resultMap="BaseResultMap" parameterType="java.lang.String">
    SELECT
    <include refid="Base_Column_List" />
    FROM project
    WHERE pname = #{pname,jdbcType=VARCHAR}
  </select>
  
  <select id="checkQuestionnaire" resultMap="BaseResultMap" parameterType="java.lang.String">
    SELECT
    <include refid="Base_Column_List" />
    FROM project
    WHERE pid = #{pid,jdbcType=VARCHAR}
  </select>
  
</mapper>