<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.NLLDS.dao.SubjectDao" >
  <resultMap id="BaseResultMap" type="com.NLLDS.model.Subject" >
    <id column="subjectid" property="subjectid" jdbcType="VARCHAR" />
    <result column="subjectno" property="subjectno" jdbcType="VARCHAR" />
    <result column="tasks" property="tasks" jdbcType="VARCHAR" />
  </resultMap>
  
  
  <sql id="Base_Column_List" >
    subjectid, subjectno, tasks
  </sql>
  
  <!-- <select id="selectSubjectByProjectId" resultMap="BaseResultMap">
    SELECT subjectid, subjectno
	FROM subject
	WHERE projectid = #{pid,jdbcType=VARCHAR}
  </select> -->
  
  <select id="selectSubjectByProjectId" resultMap="BaseResultMap">
    SELECT s.subjectid, s.subjectno, GROUP_CONCAT(t.tname SEPARATOR ',') AS tasks
	FROM subject s
	INNER JOIN task t ON s.projectid = t.pid
	WHERE s.projectid = #{pid,jdbcType=VARCHAR}
	GROUP BY s.subjectid, s.subjectno
  </select>
  
  <select id="selectSubjectTasks" resultMap="BaseResultMap">
    SELECT *
	FROM subject
	WHERE subjectid = #{subjectid,jdbcType=VARCHAR}
  </select>
  
  <insert id="insertSubject" parameterType="com.NLLDS.model.Subject" >
    INSERT into subject (subjectno,projectid)
    values (#{subjectno,jdbcType=VARCHAR}, #{projectid,jdbcType=VARCHAR})
  </insert>
  
  <select id="checkSubject" resultMap="BaseResultMap" parameterType="java.lang.String">
    SELECT
    <include refid="Base_Column_List" />
    FROM subject
    WHERE subjectno = #{subjectno,jdbcType=VARCHAR}
  </select>
  
  <update id="updateSubjecttasks" parameterType="com.NLLDS.model.Subject" >
    UPDATE subject
    SET tasks = CASE
    WHEN tasks IS NULL THEN #{tasks, jdbcType=VARCHAR}
    WHEN FIND_IN_SET(#{tasks, jdbcType=VARCHAR}, tasks) > 0 THEN tasks
    ELSE CONCAT_WS(',', tasks, #{tasks, jdbcType=VARCHAR})
    END
    WHERE subjectid = #{subjectid,jdbcType=VARCHAR}
    AND projectid = #{projectid,jdbcType=VARCHAR}
  </update>
  
</mapper>