<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.NLLDS.dao.TableDao" >
  <resultMap id="BaseResultMap" type="com.NLLDS.model.Table" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="fieldname" property="fieldname" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
  </resultMap>
  
  <sql id="createTableSql">
    CREATE TABLE IF NOT EXISTS ${tablename} (
      id INT(10) PRIMARY KEY AUTO_INCREMENT,
      projectid VARCHAR(255),
      subjectid VARCHAR(255),
      FOREIGN KEY (projectid) REFERENCES project(pid),
      FOREIGN KEY (subjectid) REFERENCES subject(subjectid)
    );
  </sql>
  
  <insert id="createTable">
    <include refid="createTableSql"/>
  </insert>
  
  <select id="selectTaskFields" resultMap="BaseResultMap">
    SELECT fieldname, remark
	FROM taskfields
	WHERE taskid = #{taskid,jdbcType=INTEGER}
  </select>
  
  <insert id="insertFields" parameterType="com.NLLDS.model.Table" >
    INSERT into taskfields (fieldname,remark,taskid)
    values (#{fieldname,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, #{taskid,jdbcType=INTEGER})
  </insert>
  
  <select id="checkTable" resultMap="BaseResultMap">
    SELECT fieldname
    FROM taskfields
    WHERE fieldname = #{fieldname,jdbcType=VARCHAR} and taskid = #{taskid,jdbcType=INTEGER}
  </select>
  
  <update id="addColumn">
    ALTER TABLE ${tablename}
  	ADD COLUMN ${fieldname} VARCHAR(255);
  </update>

  <!-- <update id="modifyColumn">
    ALTER TABLE table_name MODIFY COLUMN column_name new_column_type;
  </update>

  <update id="dropColumn">
    ALTER TABLE table_name DROP COLUMN column_name;
  </update> -->
  
</mapper>