<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.NLLDS.dao.TaskDao" >
  <resultMap id="BaseResultMap" type="com.NLLDS.model.Task" >
    <id column="tid" property="tid" jdbcType="INTEGER" />
    <result column="pid" property="pid" jdbcType="VARCHAR" />
    <result column="tname" property="tname" jdbcType="VARCHAR" />
    <result column="createby" property="createby" jdbcType="VARCHAR" />
    <result column="createdate" property="createdate" jdbcType="TIMESTAMP"/>
    <result column="description" property="description" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    tid, pid, tname, createby, createdate, description
  </sql>
  
  <select id="selectAllTask" resultMap="BaseResultMap">
    SELECT tid,pid,tname,createby,createdate,description
	FROM task
	ORDER BY pid
  </select>
  
  <insert id="insertTask" parameterType="com.NLLDS.model.Task" >
    INSERT into task (pid, tname, createby, description)
    values (#{pid,jdbcType=VARCHAR}, #{tname,jdbcType=VARCHAR}, #{createby,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR})
  </insert>
  
  <select id="checkTask" resultMap="BaseResultMap">
    SELECT tname
    FROM task
    WHERE tname = #{tname,jdbcType=VARCHAR}
    AND pid = #{pid,jdbcType=VARCHAR}
  </select>
  
  <select id="selectUserProjectTask" resultMap="BaseResultMap" parameterType="java.lang.String">
    SELECT t.tid, t.pid, t.tname, t.createby, t.createdate, t.description
	FROM task t, project p
	WHERE t.pid = p.pid
	AND (p.manageby LIKE CONCAT('%', #{username, jdbcType=VARCHAR}, '%') or p.collaborator LIKE CONCAT('%', #{username, jdbcType=VARCHAR}, '%'))
	ORDER BY t.pid
  </select>
  
  <delete id="deleteTasks" parameterType="java.lang.Integer" >
    delete from task
    where tid = #{tid,jdbcType=INTEGER}
  </delete>
  
</mapper>